.bar {
    background: #333;
    padding:5px 0;
}

.slideLimit {
    width: 75%;
}

.barText {
    color: rgb(255,255,255);
}

.skip {
    margin-left: 10px;
}

.option {
    width: 42px;
}

*:focus {
    outline: none;
}

#playPauseBtn {
    margin-right: 10px;
}

#videoTimer {
    margin-left: 10px
}

#modeButton {
    margin-left: 10px
}
