.bar {
    background: rgb(41, 42, 49);
    padding:5px 0;
}

.slideLimit {
    width: 75%;
}

.barText {
    color: rgb(255,255,255);
}

.skip {
    margin-left: 10px;
}

.option {
    width: 42px;
}

.text {
    color: rgb(255,255,255);
}

*:focus {
    outline: none;
}

#playPauseBtn {
    margin-right: 10px;
}

#videoTimer {
    margin-left: 10px
}

#modeButton {
    margin-right: 10px
}

#playback {
    background-color: rgb(41, 42, 49);
}

#logo {
    height: 70px;
    padding-top: 10px;
    float: right;
}

#playHead {
    float: right;
}

body {
    background-color: rgb(25,25,27);
}


