.bar {
    background: #333;
    padding:5px 0;
}

.slideLimit {
    width: 90%;
}

.barText {
    color: rgb(255,255,255);
}

#playPauseBtn {
    margin-right: 10px;
}

#videoTimer {
    margin-left: 10px
}