<html>
    <head>
        <title>Media Player</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoControls.css') }}">
        <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">

        <script>
            var vid, vid2, playbtn, seekslider, videoTimer, backwardBtn, forwardBtn, modeButton;

            var lastStatePaused = 0;

            local = window.localStorage;

            function initializePlayer(){
                //initialize elemetns 
                vid = document.getElementById("video1");
                vid2 = document.getElementById("video2");
                playBtn = document.getElementById("playPauseBtn");
                seekslider = document.getElementById("seekslider");
                videoTimer = document.getElementById("videoTimer");
                backwardBtn = document.getElementById("backwardBtn");
                forwardBtn = document.getElementById("forwardBtn");
                modeButton = document.getElementById("modeButton");

                //add event listeners
                playBtn.addEventListener("click", playpause, false);
                seekslider.addEventListener("input", vidSeek, false);
                seekslider.addEventListener("input", pauseSeek, false);
                seekslider.addEventListener("change", playSeek, false);
                vid.addEventListener("ended", videoend, false);
                vid.addEventListener("timeupdate", seektimeupdate, false);
                backwardBtn.addEventListener("click", back, false);
                forwardBtn.addEventListener("click", forward, false);
                modeButton.addEventListener("click", changeMode, false)

                document.addEventListener("keypress", function (event) {
                    if (event.key === " "){
                        playpause();
                    }
                });
                
                document.addEventListener("keydown", function (event) {
                    val = 0.01
                    if (event.key === "ArrowLeft"){
                        vid.currentTime -= val;
                        vid2.currentTime -= val;
                    }
                    if (event.key === "ArrowRight"){
                        vid.currentTime += val;
                        vid2.currentTime += val;
                    }

                    

                });

                //synch buttons
                if (vid.paused){
                    playBtn.src = "static/images/play.png";
                }

                console.log(modeButton.textContent);
                if (local.getItem("mode") !== null){
                    modeButton.textContent = local.getItem("mode");
                }

                seekslider.value = 0;
            }
            window.onload = initializePlayer;


            function playpause(){
                console.log("playPause");
                if (vid.paused){
                    vid.play();
                    vid2.play();
                    playBtn.src = "static/images/pause.png";
                }
                else {
                    vid.pause();
                    vid2.pause();
                    playBtn.src = "static/images/play.png";
                }
            }
        
            function vidSeek(){
                console.log("vidSeek");
                var seekto = vid.duration * (seekslider.value / 100);
                vid.currentTime = seekto;
                vid2.currentTime = seekto;
            }

            function seektimeupdate(){
                console.log("seekTimeUpdate");
                var nt = vid.currentTime * (100 / vid.duration);
                seekslider.value = nt;

                TOTALSEC = Math.trunc(vid.currentTime);
                TimeMin = Math.trunc(TOTALSEC/60);
                TimeSec = TOTALSEC - (TimeMin*60);
                DeciSecs = (vid.currentTime - TimeMin - TimeSec)*100;
                DeciSecs = Math.trunc(DeciSecs)


                console.log(vid.currentTime, DeciSecs)

                if (TimeMin < 10){
                    TimeMin = "0" + TimeMin
                }

                if (TimeSec < 10){
                    TimeSec = "0" + TimeSec
                }

                if (DeciSecs < 10){
                    DeciSecs = "0" + DeciSecs
                }

                if (DeciSecs === 100){
                    DeciSecs = "00"
                }

                videoTimer.innerHTML = TimeMin + ":" + TimeSec + ":" + DeciSecs

            }

            function pauseSeek(){
                console.log("pauseSeek");
                console.log("pausinf for seek")
                if (lastStatePaused === 0){
                    lastStatePaused = vid.paused;
                }
                vid.pause();
                vid2.pause();
            }

            function playSeek(){
                console.log("playSeek");
                console.log("playing after seek", lastStatePaused);
                if (!lastStatePaused){
                    vid.play();
                    vid2.play();
                }
                lastStatePaused = 0;
            }

            function videoend(){
                console.log("videoEnd");
                if (modeButton.textContent === "Play Through"){
                    local.setItem("mode", modeButton.textContent);
                    window.location.href = "/increment/1";
                }
                else {
                    vid.currentTime = 0;
                    vid2.currentTime = 0;
                    vid.play();
                    vid2.play();
                }
            }

            function back(){
                window.location.replace("/increment/-1");
            }
            
            function forward(){
                window.location.replace("/increment/1");
            }

            function changeMode(){
                text = modeButton.textContent
                if (text === "Repeat"){
                    modeButton.textContent = "Play Through"
                }

                else{
                    modeButton.textContent = "Repeat"
                }
            }

        </script>

    </head>

    <body>
        <div class ="container mt-3">
            <h1>Play #{{ play }}</h1>
            <a>Quarter 2</a>
        </div>

        
        <div class="container-fluid">

            <button type="button" id="modeButton" class="btn btn-secondary btn-lg align-self-center option">Repeat</button>

            <br>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <video width="100%" id="video1" autoplay>
                        <source src="static/videos/endzone_{{ play }}.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="col-md-6">
                    <video width="100%" id="video2" autoplay>
                        <source src="static/videos/side_{{ play }}.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>

            <div id ="videoControls" class="bar">
                <div class="row justify-content-center">
                    <input type="image" id="playPauseBtn" src="static/images/pause.png" width=32px>
                    <input type="range" min="0" max="100" value="0" step=0.01 class="custom-range slideLimit align-self-center" id="seekslider">
                    <b id = "videoTimer" class="barText align-self-center">00:00:00</b>
                    <input type="image" id="backwardBtn" src="static/images/back.png" class="skip align-self-center" width=32px height=21px>
                    <input type="image" id="forwardBtn" src="static/images/forward.png" class="skip align-self-center" width=32px height=21px>
                </div>
            </div>

        </div>

   </body>


</html>